/* 기본 스타일 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'YanoljaYache';
}

body {
    background-image: url(../img/RQBG.png);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    overflow: hidden;
    margin-top: 150px;
    cursor: url("https://cur.cursors-4u.net/others/oth-8/oth755.cur") 4 4, auto;
}

#wrap {
    max-width: 60%;
    margin: 20px auto;
    padding: 20px;
    background-color: #ddd;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* 헤더 및 푸터 */
.quiz_header {
    text-align: right;
    padding: 15px;
}

.quiz_header .quiz_total {
    font-size: 20px;
    background-color: #ccc;
    padding: 5px;
    display: inline-block;
    border: 1px solid #000;
}

.quiz_footer {
    text-align: center;
    padding: 15px;
}

.quiz_footer {
    border-top: 1px solid #eee;
}

/* 메인 컨텐츠 */
.quiz_main {
    padding: 20px;
}

.question {
    font-size: 20px;
    margin-bottom: 20px;
}

/* 입력란 및 버튼 */
#input input,
button {
    width: 20%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #666;
    color: #fff;
    cursor: pointer;
}

#userAnswer {
    width: 40%;
    text-align: center;
    margin-top: 10px;
    border: #000 1px solid;
    color: #000;
    line-height: 1.5;
    font-size: 16px;
}

#userAnswer:hover {
    background-color: #ddd;
    cursor: url("https://cur.cursors-4u.net/anime/ani-11/ani1090.cur") 4 4, auto;
}

button:hover {
    background-color: #333;
    cursor: url("https://cur.cursors-4u.net/others/oth-8/oth755.cur") 4 4, auto;
}

/* 결과 스타일 */

.quiz_gauge div {
    width: 50%;
    /* 동적으로 변경 */
    background-color: #007bff;
}

/* 정답 및 오답 표시 */
.quiz.good,
.quiz.bad {
    position: relative;
}

.quiz.good::before,
.quiz.bad::before,
.quiz.bad::after {
    content: '';
    position: absolute;
    left: 0;
    top: 80px;
    z-index: 100;
}

.quiz.good::before {
    width: 100px;
    height: 100px;
    border: 10px solid green;
    border-radius: 50%;
}

.quiz.bad::before,
.quiz.bad::after {
    background-color: red;
    border-radius: 30px;
}

.quiz.bad::before {
    width: 150px;
    height: 10px;
    transform: rotate(45deg);
}

.quiz.bad::after {
    width: 150px;
    height: 10px;
    transform: rotate(-45deg);
}